<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>Archetype Created Web Application</display-name>

        <!-- Khai báo các vai trò -->
        <security-role>
            <role-name>admin</role-name>
        </security-role>
        <security-role>
            <role-name>guest</role-name>
        </security-role>
        <security-role>
            <role-name>user</role-name>
        </security-role>

        <!-- Cấu hình bảo mật -->
        <security-constraint>
            <web-resource-collection>
                <web-resource-name>Admin Pages</web-resource-name>
                <url-pattern>/admin/*</url-pattern>
            </web-resource-collection>
            <auth-constraint>
                <role-name>admin</role-name>
            </auth-constraint>
        </security-constraint>
        <security-constraint>
            <web-resource-collection>
                <web-resource-name>User Pages</web-resource-name>
                <url-pattern>/user/*</url-pattern>
            </web-resource-collection>
            <auth-constraint>
                <role-name>user</role-name>
            </auth-constraint>
        </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/templates/login.jsp</form-login-page>
        </form-login-config>
    </login-config>

</web-app>